
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #1b263b;
  border: #772e25 solid 0.05rem;
  height: 6rem;
}

header .navbar{
  padding-top: 1rem;
}

header .navbar > .nav-item{
  margin-left: 0.5rem;
}

header .navbar .nav-item{
  color:#c44536;
}

header .navbar .nav-item:hover{
  color:#dddddd;
  transition: ease 0.2s;
}

/* Main content */

main{
  flex: 1;
  width: 100%;
  background-color:#e9e0df;
  display:flex;
  align-items: center;
  justify-content: center;
}

main div{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}

/* Footer content */

footer{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #772e25 solid 0.05rem;
  background-color: #c44536;
}

footer div{
  color:#000;
}

